.home-page-header-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 5px;
}
.home-page-header-container img {
  width: 310px;
  border-radius: 10px;
  height: 80px;
  transition: all 0.2s ease-in-out;
}
.home-page-header-container img:hover {
  transform: translateY(4px);
}
.home-page-header-container .cart-box .button {
  width: 200px;
  height: 80px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: purple;
  background-color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(255, 5, 255, 0.1) 2px 6px 16px;
}
.home-page-header-container .cart-box .button:hover {
  border: 2px solid purple;
  background-color: white;
  color: purple;
  transform: translateY(1px);
  font-weight: bold;
}
.home-page-header-container .navLinks {
  display: flex;
  flex-direction: row;
}
.home-page-header-container .navLinks .nav-home,
.home-page-header-container .navLinks .nav-all-products,
.home-page-header-container .navLinks .nav-categories {
  width: 130px;
  height: 80px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 3px;
  border: none;
  background-color: white;
  box-shadow: rgba(255, 5, 255, 0.1) 2px 6px 16px;
  color: purple;
  font-size: large;
  transition: all 0.2s ease-in-out;
}
.home-page-header-container .navLinks .nav-home:hover,
.home-page-header-container .navLinks .nav-all-products:hover,
.home-page-header-container .navLinks .nav-categories:hover {
  border: 2px solid purple;
  background-color: white;
  color: purple;
  transform: scale(1);
  font-weight: bold;
}
.home-page-header-container .navLinks a {
  text-decoration: none;
}
.home-page-header-container .cart-box a {
  text-decoration: none;
}
